/** toggle switch */
.toggle-switch {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 0;

    /* font-size: .75rem; */
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    background: var(--primary);
    color: white;
    padding: 2px 5px;
    text-transform: uppercase;
    margin-bottom: 0;

    display: inline-block;
    cursor: pointer;
}

.toggle-switch label:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toggle-switch label:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* disabled until Firefox supports :has() */
/* Requires a jQuery widget just for this... */

.toggle-switch label:not(:has(input:checked)) {
/* .toggle-switch label:not(.selected) { */
    background: #ccc;
}


