.relatedtokens.form-control {
    height: auto;
}

.relatedtokens {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.relatedtokens input.item-entry {
    display: inline-block;
    /* width: auto; */
}

.rt_token {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    /* margin: 0 5px 5px 0px; */
}

.rt_token A {
    margin-left: 5px;
}